@import "../variables.scss";

.header__wrapper {
    // border-bottom: 1px solid $gray-line-color;
    // position: absolute;
    // top: 0;
    // width: 100%;
    // z-index: +100000000000000000;

    @media (prefers-color-scheme: dark) {
        // background-color: rgba(41,/ 41, 41, 0.5);
        border-bottom: 1px solid $gray-line-color-dm;
    }
}

.header__wrapper.has-background {
    background-color: rgba(229, 240, 252, 0.8);
    backdrop-filter: blur(24px);

    @media (prefers-color-scheme: dark) {
        background-color: rgba(17, 17, 17, 0.8);
        // border-bottom: 1px solid $gray-line-color-dm;
    }
}

.header__top-line {
    align-items: center;
    // border-bottom: 1px solid $gray-line-color;
    display: grid;
    gap: 0 $base-unit;
    grid-template-columns: 1fr auto;
    justify-items: start;
    margin: 0 auto;
    max-width: $column-width;
    padding: 1.5 * $base-unit 3 * $base-unit;
    // width: 100vw;

    // background-color: blue;

    @media (max-width: $break-2) {
        // display: flex;
        // justify-content: space-between;
        padding: $base-unit;
    }
}

.header__site-logo {
    background-color: $entry-background;
    border-radius: $border-radius;
    overflow: hidden;

    display: none;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }

    img {
        width: 2 * $base-unit;
    }

    @media screen and (max-width: $break-1) {
        // width: 2 * $base-unit;
        // justify-content: start;
    }
}

.header__titles {
    align-items: center;
    display: flex;
    flex-grow: 1;
    // flex-wrap: wrap;
    gap: 0 $base-unit;
    // justify-content: center;
    // text-align: center;
    // text-wrap: nowrap;

    // background-color: #eee;

    @media screen and (max-width: $break-2) {
        // flex-direction: column;
    }

    * {
    }
}

.header__site-title {
}

.header__site-subtitle {
    color: $body-color;
    // display: inline-block;
    // font-style: italic;
    font-weight: inherit;

    @media (prefers-color-scheme: dark) {
        color: $body-color-dm;
    }
}

.buttons {
    display: flex;
    gap: $base-unit;
    justify-self: end;
}

.search-button {
    width: 120px;

    display: none;
}

.theme-button {
    // background-color: $entry-background;
    // border-radius: 3px;
    display: flex;
    // font-size: $small-size;
    gap: 0;
    // justify-self: end;
    padding: 2px !important;

    // display: none;

    @media (prefers-color-scheme: dark) {
        // background-color: $entry-background-dm;
    }
}

.theme-button span {
    // background-color: pink !important;
    border-radius: 2px;
    display: flex;
    padding: 4px 12px !important;
    // text-transform: uppercase;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}

.theme-button__sun {
    background-color: $background-color !important;
    // color: $heading-color;

    @media (prefers-color-scheme: dark) {
        background-color: $background-color-dm !important;
        // color: $heading-color-dm;
    }
}

.theme-button__moon {
    svg {
        // background-color: pink !important;
        width: 10px;
    }
}

.menu-button {
    // display: none !important;

    @media screen and (max-width: $break-1) {
    }
}

// menu

.menu {
    margin: 0 auto;
    // max-width: $column-width;
}

.nav {
    padding-bottom: 1.5 * $base-unit;

    a {
        color: $gray-color;
    }

    a.active {
        color: $heading-color;
        // font-weight: 500;

        @media (prefers-color-scheme: dark) {
            color: $heading-color-dm;
        }
    }
}

.nav__content {
    align-items: end;
    display: flex;
    // flex-direction: column;
    // gap: 0.25 * $base-unit;
    gap: 0.5 * $base-unit;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $column-width;
    padding: 0 3 * $base-unit;
}
