@import "../../variables.scss";

// about
.about {
    display: grid;
    gap: 1.5 * $base-unit !important;
    grid-template-columns: repeat(3, 1fr);

    .index-section__content {
        grid-column: span 2;
        // grid-row: span 2;
    }
}

.about__photo {
    // aspect-ratio: 1/1;
    background-color: $entry-background;
    border-radius: $border-radius;
    // float: right;
    overflow: hidden;
    // width: 33.333%;
    // opacity: 0.1;
    // padding-left: 1 * $base-unit;
    // margin-left: 0.5 * $base-unit;
    // margin-bottom: 1.5 * $base-unit;

    // display: none;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }

    img {
        // border-radius: $border-radius;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}
