@import "../../variables.scss";

// about
.about {
    background: none !important;
    border-radius: 0 !important;
    // margin: 4 * $base-unit 0 !important;
    padding: 0 !important;

    // display: grid;
    // gap: $base-unit;
    // grid-template-columns: repeat(4, 1fr);

    @media (max-width: $break-1) {
        // display: block;
        // grid-template-columns: 1fr;
        // grid-template-rows: auto;
    }

    .index-section__heading {
        margin-bottom: $base-unit;
    }

    .index-section__content {
        background: none !important;
        padding: 0 !important;
        grid-column: span 3;
    }
}

.about__photo {
    aspect-ratio: 1/1;
    background-color: $entry-background;
    border-radius: 50%;
    // clear: both;
    float: right;
    // grid-row: span 2;
    // margin-bottom: 2 * $base-unit;
    overflow: hidden;
    width: 4 * $base-unit;
    margin: 0 0 1.5 * $base-unit 1.5 * $base-unit;

    // display: none;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.social-links {
    align-self: start;
    background-color: $entry-background;
    border-radius: $border-radius;
    // margin-top: $base-unit;
    padding: 0.5 * $base-unit 0.75 * $base-unit;
    // width: fit-content;

    display: none;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }
}

.social-links__heading {
    color: $gray-color;
    // font-size: $small-size;
    // text-transform: uppercase;
    // letter-spacing: 0.1em;
    margin-bottom: 0.5 * $base-unit;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}

.social-link {
    // align-items: center;
    display: grid;
    gap: 0.5 * $base-unit;
    grid-template-columns: auto 1fr;
    text-decoration: none;
    width: fit-content;
}

.social-link:hover {
    text-decoration: none;

    .social-link__text::after {
        opacity: 1;
    }
}

.social-link__icon {
    align-items: center;
    display: flex;
    height: $base-unit;
    justify-content: center;
    width: 0.5 * $base-unit;
}

.social-link__text::after {
    content: "\00A0\2197";
    opacity: 0;
}
