@import "../../variables.scss";

.availability {
    border: none !important;
    padding-top: 0;

    .index-section__heading {
        // grid-area: heading;
    }

    .index-section__subheading {
        // box-sizing: content-box;
        color: inherit;
        // grid-area: subheading;
        // grid-column: span 2 !important;
        margin: 0;
        text-wrap: auto;
        padding-right: 0.75 * $base-unit;
        width: 66.666%;

        @media (prefers-color-scheme: dark) {
            // color: $body-color-dm;
        }
    }

    .index-section__content {
        // grid-area: content;
        // grid-column: span 3 !important;
    }
}
