@import "../../variables.scss";

.availability {
    border: none !important;
    display: grid;
    gap: 0 1.5 * $base-unit;
    grid-template-areas:
        "heading heading ."
        "content content ."
        "links links links";
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0;

    .index-section__heading {
        grid-area: heading;
        margin-bottom: $base-unit !important;
    }

    .index-section__subheading {
        // background-color: pink;
        // box-sizing: content-box;
        color: inherit;
        // grid-area: c;
        // grid-column: span 2 !important;
        margin: 0;
        // text-wrap: auto;
        padding-right: 0.75 * $base-unit;
        width: 66.666%;

        @media (prefers-color-scheme: dark) {
            // color: $body-color-dm;
        }
    }

    .index-section__content {
        grid-area: content;
        // grid-column: span 3 !important;
    }

    .social-links {
        grid-area: links;
    }
}
