@import "../../variables.scss";

.index-section.availability {
    // background-color: $entry-background;
    // border: 1px solid $gray-line-color;
    border: none;
    // border-radius: $border-radius;
    // display: block;
    grid-template-areas:
        "heading heading ."
        "subheading subheading ."
        "content content content";
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0;

    .index-section__heading {
    }

    .index-section__subheading {
        color: inherit;
        grid-column: span 2 !important;
        margin: 0;
        text-wrap: auto;

        @media (prefers-color-scheme: dark) {
            // color: $body-color-dm;
        }
    }

    .index-section__content {
        grid-column: span 3 !important;
    }
}
