@import "../../variables.scss";

// projects

.projects {
    align-items: start;
    display: grid;
    gap: 0 1.5 * $base-unit;
    grid-template-areas:
        "heading content content"
        "subheading content content";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.projects-grid {
    align-items: center;
    display: grid;
    gap: 1.5 * $base-unit;
    grid-area: content;
    grid-template-columns: 1fr;

    @media (prefers-color-scheme: dark) {
        // background-color: $entry-background-dm;
    }

    @media screen and (max-width: $break-2) {
        grid-template-columns: 1fr;
    }
}

.project-link {
    align-items: center;
    display: grid;
    border-radius: $border-radius;
    gap: 0 0.5 * $base-unit;
    grid-auto-rows: min-content;
    grid-template-areas:
        "cover cover"
        "icon title"
        "icon subtitle"
        "techs techs";
    grid-template-columns: auto 1fr;
    // padding-right: 0.25 * $base-unit;
    position: relative;
    text-decoration: none;
    // width: fit-content;

    + .project-link {
        // border-top: 1px solid $gray-line-color;
        // padding-top: 0.5 * $base-unit;

        @media (prefers-color-scheme: dark) {
            // border-top: 1px solid $gray-line-color-dm;
        }
    }
}

.project-link:hover {
    text-decoration: none;
}

// .project-link:hover {
//     background-color: $entry-background;
//     border-radius: $border-radius;
//     margin: -0.5 * $base-unit;
//     padding: 0.5 * $base-unit;
//     text-decoration: none;

//     @media (prefers-color-scheme: dark) {
//         background-color: $entry-background-dm;
//     }
// }

.project-link__cover {
    aspect-ratio: 16/10;
    background-color: $entry-background;
    border-radius: $border-radius;
    grid-area: cover;
    // grid-row: span 2;
    margin-bottom: 0.5 * $base-unit;
    padding: 1.5 * $base-unit;

    // display: none;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }

    img {
        height: 100%;
        object-fit: scale-down;
        width: 100%;

        display: none;
    }
}

.project-link__icon {
    background-color: $entry-background;
    border-radius: $border-radius;
    height: 2 * $base-unit;
    grid-area: icon;
    width: 2 * $base-unit;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }
}

.project-link__title {
    // color: $body-color;
    // font-weight: inherit;
    grid-area: title;

    @media (prefers-color-scheme: dark) {
        // color: $body-color-dm;
    }
}

.project-link__title::after {
    color: rgb(255, 255, 255);
    content: "\2197";
    float: right;
    opacity: 0;
}

.project-link__subtitle {
    color: $gray-color;
    font-weight: inherit;
    font-style: oblique;
    grid-area: subtitle;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}

.technologies {
    display: flex;
    gap: 0.5 * $base-unit;
    grid-area: techs;
    margin: 0.5 * $base-unit 0 0;

    // display: none;
}

.tech {
    background-color: $entry-background;
    border-radius: $border-radius;
    color: $gray-color;
    display: block;
    // font-family: $mono-font;
    font-size: $small-size;
    // gap: 0.25 * $base-unit;
    // letter-spacing: 0.1em;
    line-height: 1;
    padding: 0.125 * $base-unit 0.25 * $base-unit;
    // text-transform: uppercase;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
        color: $gray-color-dm;
    }
}

// .react {
//     background-color: rgb(8, 126, 164);
//     color: rgb(255, 255, 255);
// }

// .js {
//     background-color: #f7df1e;
// }

// .gatsby {
//     background-color: #542c85;
//     color: rgb(255, 255, 255);
// }

// .sass {
//     background-color: rgb(191.25, 63.75, 127.5);
//     color: rgb(255, 255, 255);
// }

// .tailwind {
//     background-color: oklch(0.746 0.16 232.661);
//     color: rgb(255, 255, 255);
// }

// .dart {
//     background-color: #2cb7f6;
//     color: rgb(255, 255, 255);
// }
