@import "../../variables.scss";

// reviews

.reviews {
    .index-setion__heading {
    }
}

.reviews-grid {
    display: grid;
    gap: 1.5 * $base-unit;
    grid-template-columns: repeat(3, 1fr);

    @media (prefers-color-scheme: dark) {
        // background-color: $entry-background-dm;
    }
}

.review-link {
    display: grid;
    grid-template-columns: 1fr auto;
}

.review-link:hover {
    text-decoration: none;
}

.review-link__cover {
    align-items: center;
    aspect-ratio: 16/10;
    background-color: $entry-background;
    border-radius: $border-radius;
    display: flex;
    grid-column: span 2;
    justify-content: center;
    margin-bottom: 0.125 * $base-unit;
    overflow: hidden;
    // padding: $base-unit;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
    }

    img {
        height: 66.666%;
        object-fit: contain;
        width: 66.666%;

        // display: none;
    }
}

.review-link__title {
    // color: $body-color;
    // font-size: $small-size;
    // font-weight: inherit;

    @media (prefers-color-scheme: dark) {
        color: $body-color-dm;
    }
}

.review-link__year {
    color: $gray-color;
    // font-size: $small-size;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}
