@import "reset";
@import "variables";
@import "font-face/tiempos-fine.scss";
@import "font-face/american-grotesk.scss";
@import "font-face/heldane-text.scss";
@import "font-face/heldane-display.scss";
@import "font-face/untitled-sans.scss";
@import "font-face/sohne-mono.scss";
@import "../../static/assets/fonts/inter/inter.css";

// styles

body {
    background-color: $background-color;
    // background: linear-gradient(rgba(0, 113, 227, 0.1), rgba(255, 255, 255, 1));
    // border-top: 6px solid $gray-line-color;
    color: $body-color;
    font-family: $sans-font;
    font-size: $body-size;
    // letter-spacing: 0.025em;
    line-height: 2;
    font-weight: 300;
    // text-align: justify;
    // text-wrap: balance;

    @media (prefers-color-scheme: dark) {
        background-color: $background-color-dm;
        color: $body-color-dm !important;
    }
}

img,
#map img {
    filter: saturate(00%);
    // opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-weight: 500;

    @media (prefers-color-scheme: dark) {
        color: $heading-color-dm;
    }

    a {
        color: inherit;
    }
}

a {
    color: $link-color;
    text-decoration: underline solid transparent;

    @media (prefers-color-scheme: dark) {
        color: $link-color-dm;
    }
}

a:hover {
    text-decoration: underline solid currentColor;
}

button {
    display: flex;
    gap: 0.5 * $base-unit;
    line-height: 1;
}

.all-link {
    background-color: $entry-background;
    // border: 1.5px solid $link-color;
    border-radius: $border-radius;
    color: inherit;
    grid-column: 1/-1;
    // margin-top: $base-unit;
    padding: 0.5 * $base-unit;
    text-align: center;

    @media (prefers-color-scheme: dark) {
        background-color: $entry-background-dm;
        // border: 1.5px solid $link-color-dm;
    }
}

svg {
    stroke: $body-color !important;

    @media (prefers-color-scheme: dark) {
        stroke: $body-color-dm !important;
    }
}

p {
    + p {
        margin-top: $base-unit;
    }
}

.type-label {
    display: flex;
    gap: 0.5 * $base-unit;
    // height: $base-unit;
    // margin-bottom: $base-unit;

    img {
        // opacity: 0.333;
        width: 12px;
    }
}

.new-label {
    background-color: $new-label-bg;
    border-radius: 8px;
    // box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    color: $background-color;
    font-size: $small-size;
    font-weight: 500;
    line-height: 1;
    margin-left: 0.5 * $base-unit;
    padding: 2px 6px;
    // vertical-align: top;
}

// structure

.page {
    // background-color: $background-color;

    @media (prefers-color-scheme: dark) {
        // background-color: $background-color-dm;
    }
}

.main {
    margin: 7 * $base-unit auto 0;
    max-width: $column-width;
    padding: 0 * $base-unit 3 * $base-unit 0;
    // position: relative;

    @media (max-width: $break-2) {
        // margin: 6.5 * $base-unit auto 0;
        padding: 0 * $base-unit $base-unit 0;
    }
}

.page--index {
    .main {
        // background-color: pink;
        // display: grid;
        // gap: 2 * $base-unit;
        // grid-template-columns: 1fr 1fr;

        @media screen and (max-width: $break-1) {
            // display: block;
        }
    }
}

.index-section {
    align-items: start;
    // background-color: pink;
    border-top: 1px solid $gray-line-color;
    display: grid;
    gap: 0 1.5 * $base-unit;
    grid-template-areas:
        "heading    content content"
        "subheading content content";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    padding: 3 * $base-unit 0;
    // margin: 3 * $base-unit 0;

    @media (prefers-color-scheme: dark) {
        // background-color: $entry-background-dm;
        border-top: 1px solid $gray-line-color-dm;
    }
}

.index-section:first-of-type {
    border: none;
    padding-top: 0;
}

.index-section__heading {
    align-self: start;
    display: flex;
    font-family: $serif-heading-font;
    font-size: $serif-heading-size;
    font-weight: 500;
    gap: 0.5 * $base-unit;
    grid-area: heading;
    letter-spacing: 0.05em;
    line-height: 1.333;
    margin-bottom: 0.25 * $base-unit;

    img {
        width: 12px;

        display: none;
    }
}

.index-section__subheading {
    color: $gray-color;
    font-weight: inherit;
    grid-area: subheading;
    // margin-left: $base-unit;
    margin-bottom: 1.5 * $base-unit;
    // padding-right: 1.5 * $base-unit;
    text-wrap: balance;

    // display: none;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}

.index-section__content {
    // background-color: $entry-background;
    // border-radius: $border-radius;
    grid-area: content;
    grid-column: span 2;
    // grid-row: span 2;
    // padding: 2 * $base-unit;
}
