@import url(reset.scss);
@import "variables";
@import url(font-face/heldane-text.scss);
@import url(font-face/untitled-sans.scss);
@import url(font-face/sohne-mono.scss);
@import url(../../static/assets/fonts/inter/inter.css);

// styles

*,
*::before,
*::after {
    -webkit-transition: all 0.25s; /* For Safari 3.0 to 6.0 */
    transition: all 0.25s;
}

body {
    background-color: $background-color;
    // border-top: 6px solid $gray-line-color;
    color: $body-color;
    font-family: $sans-font;
    font-size: $body-size;
    line-height: 2;
    // font-weight: 500;
    // text-align: justify;
    // text-wrap: balance;

    @media (prefers-color-scheme: dark) {
        background-color: $background-color-dm;
        color: $body-color-dm;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $body-color;
    // font-weight: 500;

    @media (prefers-color-scheme: dark) {
        color: $body-color-dm;
    }

    a {
        color: inherit;
    }
}

a {
    color: $link-color;
    text-decoration: underline solid transparent;

    @media (prefers-color-scheme: dark) {
        color: $link-color-dm;
    }
}

a:hover {
    text-decoration: underline solid currentColor;
}

button {
    display: flex;
    gap: 0.5 * $base-unit;
    line-height: 1;
}

.all-link {
    // background-color: $entry-background;
    border: 1.5px solid $link-color;
    border-radius: $border-radius;
    grid-column: 1/-1;
    padding: 0.5 * $base-unit;
    text-align: center;

    @media (prefers-color-scheme: dark) {
        // background-color: $entry-background-dm;
        border: 1.5px solid $link-color-dm;
    }
}

p {
    + p {
        margin-top: $base-unit;
    }
}

.type-label {
    display: flex;
    gap: 0.5 * $base-unit;
    // height: $base-unit;
    // margin-bottom: $base-unit;

    img {
        // opacity: 0.333;
        width: 12px;
    }
}

.new-label {
    background-color: $new-label-bg;
    border-radius: 8px;
    // box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    color: $background-color;
    font-size: $small-size;
    font-weight: 500;
    line-height: 1;
    margin-left: 0.5 * $base-unit;
    padding: 2px 6px;
    // vertical-align: top;
}

// structure

.page {
    background-color: $background-color;

    @media (prefers-color-scheme: dark) {
        background-color: $background-color-dm;
    }
}

.main {
    margin: 0 auto 0;
    max-width: $column-width;
    padding: 6 * $base-unit 3 * $base-unit 0;
    position: relative;

    @media (max-width: $break-2) {
        // margin: 6.5 * $base-unit auto 0;
        padding: 6 * $base-unit $base-unit 0;
    }
}

.page--index {
    .main {
        // background-color: pink;
        // display: grid;
        // gap: 0 * $base-unit 2 * $base-unit;

        @media screen and (max-width: $break-1) {
            // display: block;
        }
    }
}

.index-section {
    // align-items: start;
    display: grid;
    border-top: 1px solid $gray-line-color;
    gap: $base-unit 2 * $base-unit;
    grid-column: span 3;
    // grid-template-columns: subgrid;
    grid-template-columns: repeat(3, 1fr);
    // margin: 3 * $base-unit 0;
    padding: 3 * $base-unit 0;

    @media (prefers-color-scheme: dark) {
        border-top: 1px solid $gray-line-color-dm;
    }

    @media (max-width: $break-1) {
        display: block;
        // padding: $base-unit 0;
    }
}

.index-section:first-of-type {
    border: none;
    padding-top: 0;
}

.index-section__heading {
    align-self: start;
    display: flex;
    font-size: $heading-size;
    gap: 0.75 * $base-unit;
    line-height: 1.5;
    margin-bottom: $base-unit;

    img {
        width: 16px;

        display: none;
    }
}

.index-section__content {
    grid-column: span 2;
}
