// variables

$base-unit: 24px;
$column-width: 640px + (9 * $base-unit);
// $column-width: 840px + (8 * $base-unit);
$border-radius: 3px;
$border-radius-big: 12px;

$sans-font: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, roboto, noto, helvetica, arial, sans-serif;
// $sans-font: -apple-system, BlinkMacSystemFont, avenir next, avenir,
//     helvetica neue, roboto, noto, helvetica, arial, sans-serif;
// $sans-font: "American Grotesk", serif;
// $sans-font: "Untitled Sans", serif;
$body-size: 12px;
$small-size: 10px;
$heading-size: 18px;

$serif-font: "Heldane Text", serif;
$serif-size: 16px;

$serif-heading-font: "Heldane Display", serif;
// $serif-heading-font: "Tiempos Fine", serif;
$serif-heading-size: 24px;
$serif-heading-size-big: 36px;

$mono-font: "Sohne Mono";

$body-color: #444444;
$body-color-dm: #aaaaaa;

$heading-color: #000000;
$heading-color-dm: #ffffff;

$gray-color: #888888;
$gray-color-dm: #666666;

$link-color: rgb(0, 113, 227);
// $link-color: $body-color;
$link-color-dm: rgb(0, 113, 227);
$link-color-dm: $body-color-dm;

$new-label-bg: $link-color;
$new-label-color: rgb(255, 255, 255);

$background-color: rgb(255, 255, 255);
$background-color-RGB: 229, 240, 252;
$background-color-dm: rgb(17, 17, 17);

$header-background: rgba(255, 255, 255, 0.8);
$header-background-dm: rgba(238, 238, 238, 0.8);

$entry-background: rgb(238, 238, 238);
$entry-background-darker: #e2e2e2;
$entry-background-dm: rgb(34, 34, 34);
$entry-background-darker-dm: #282828;

$gray-line-color: rgba(0, 0, 0, 0.1);
$gray-line-color-dm: rgba(221, 221, 221, 0.1);

$break-1: 768px;
$break-2: 600px;
