// variables

$base-unit: 24px;
$column-width: 640px + (8 * $base-unit);
// $column-width: 1200px + (8 * $base-unit);
$border-radius: 6px;
$border-radius-big: 12px;

$sans-font: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, roboto, noto, helvetica, arial, sans-serif;
// $sans-font: -apple-system, BlinkMacSystemFont, avenir next, avenir,
//     helvetica neue, roboto, noto, helvetica, arial, sans-serif;
$body-size: 12px;
$small-size: 10px;
$heading-size: 18px;

$serif-font: "Heldane Text", serif;
$serif-size: 16px;

$mono-font: "Sohne Mono";

$body-color: #666666;
$body-color-dm: #888888;

$heading-color: rgb(0, 0, 0);
$heading-color-dm: rgb(255, 255, 255);

$gray-color: rgba(0, 0, 0, 0.5);
$gray-color: $body-color;
$gray-color-dm: rgba(221, 221, 221, 0.5);
$gray-color-dm: $body-color;

$link-color: rgb(0, 113, 227);
// $link-color: $body-color;
$link-color-dm: rgb(0, 113, 227);

$new-label-bg: $link-color;
$new-label-color: rgb(255, 255, 255);

$background-color: rgb(255, 255, 255);
$background-color-dm: rgb(17, 17, 17);

$header-background: rgba(255, 255, 255, 0.8);
$header-background-dm: rgba(238, 238, 238, 0.8);

$entry-background: #eeeeee;
$entry-background-darker: #e8e8e8;
$entry-background-dm: #222222;
$entry-background-darker-dm: #282828;

$gray-line-color: rgba(0, 0, 0, 0.1);
$gray-line-color-dm: rgba(221, 221, 221, 0.1);

$break-1: 768px;
$break-2: 600px;
