// variables

$base-unit: 24px;
$column-width: 720px + (8 * $base-unit);
// $column-width: 840px + (8 * $base-unit);
$border-radius: 2px;
$border-radius-big: 12px;

$sans-font: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, roboto, noto, helvetica, arial, sans-serif;
// $sans-font: -apple-system, BlinkMacSystemFont, avenir next, avenir,
//     helvetica neue, roboto, noto, helvetica, arial, sans-serif;
// $sans-font: "American Grotesk", serif;
// $sans-font: "Untitled Sans", serif;
$body-size: 12px;
$small-size: 10px;
$heading-size: 24px;

$serif-font: "Heldane Text", serif;
$serif-size: 16px;

$serif-heading-font: "Heldane Display", serif;
// $serif-heading-font: "Tiempos Fine", serif;
$serif-heading-size: 30px;

$mono-font: "Sohne Mono";

$body-color: rgba(0, 0, 0, 0.8);
$body-color-dm: #aaaaaa;

$heading-color: rgb(0, 0, 0);
$heading-color-dm: rgb(255, 255, 255);

$gray-color: rgba(0, 0, 0, 0.4);
// $gray-color: $body-color;
$gray-color-dm: #666666;
// $gray-color-dm: $body-color-dm;

$link-color: rgb(0, 113, 227);
$link-color: $body-color;
$link-color-dm: rgb(0, 113, 227);
$link-color-dm: $body-color-dm;

$new-label-bg: $link-color;
$new-label-color: rgb(255, 255, 255);

$background-color: rgb(229, 240, 252);
$background-color-dm: rgb(17, 17, 17);

$header-background: rgba(255, 255, 255, 0.8);
$header-background-dm: rgba(238, 238, 238, 0.8);

$entry-background: rgba(0, 0, 0, 0.05);
$entry-background-darker: #e8e8e8;
$entry-background-dm: #222222;
$entry-background-darker-dm: #282828;

$gray-line-color: rgba(0, 0, 0, 0.0666);
$gray-line-color-dm: rgba(221, 221, 221, 0.1);

$break-1: 768px;
$break-2: 600px;
