@import "../variables.scss";

// essay page

.essay {
    border-top: 2px solid $gray-line-color;

    @media (prefers-color-scheme: dark) {
        border-top: 2px solid $gray-line-color-dm;
    }
}

.essay__head {
    // grid-column: span 3;
    margin: 1.5 * $base-unit 0 0;
    position: relative;
}

.essay__head__titles {
    text-wrap: balance;
}

.essay__title {
    // color: inherit;
    font-family: $serif-heading-font;
    font-size: $serif-heading-size;
    font-size: 36px;
    // font-style: oblique;
    // font-weight: 300;
    letter-spacing: 0.075em;
    line-height: 1.5;
    margin-bottom: 0.25 * $base-unit;
    text-align: center;
}

.essay__subtitle {
    color: $gray-color;
    // font-family: $serif-heading-font;
    font-size: 18px;
    // font-style: oblique;
    font-weight: inherit;
    // letter-spacing: 0.075em;
    line-height: 1.5;
    // margin: 0 2 * $base-unit;
    margin-bottom: 1 * $base-unit;
    text-align: center;
    text-wrap: balance;
    // width: min-content;

    // display: none;

    @media (prefers-color-scheme: dark) {
        color: $gray-color-dm;
    }
}

.essay__date {
    border: 2px solid $gray-line-color;
    border-radius: $border-radius;
    font-size: $small-size;
    font-weight: 600;
    margin: 0 auto 1.5 * $base-unit;
    padding: 0.25 * $base-unit 0.5 * $base-unit;
    width: fit-content;

    @media (prefers-color-scheme: dark) {
        border: 2px solid $gray-line-color-dm;
    }
}

.essay__cover-image {
    border-radius: $border-radius;
    width: 100%;
}

.type-label--essay {
    // color: $gray-color;
    // margin-bottom: $base-unit;

    img {
        opacity: 0.333;
    }
}

// .type-label--essay::after {
//     content: "|";
// }

.essay__body {
    // font-family: $serif-font;
    // font-size: $serif-size;
    // grid-column: span 2;
    margin: 3 * $base-unit auto;
    max-width: $essay-body-width + (6 * $base-unit);
    padding: 0 3 * $base-unit;
    // text-align: justify;
}

.essay__body hr {
    border: none;
    height: 2 * $base-unit;
    margin: 0;
}

.essay__body p:first-of-type::first-letter,
.essay__body hr + p::first-letter {
    color: $heading-color;
    font-family: $sans-font;
    float: left;
    font-size: 2 * $base-unit;
    font-weight: 100;
    line-height: 2 * $base-unit;
    margin: -1px 3px 0 0;

    @-moz-document url-prefix() {
        margin-top: 7px;
    }

    @media (prefers-color-scheme: dark) {
        color: $heading-color-dm;
    }
}

.essay__body p:last-of-type::after {
    content: "\00A0\2022";
}
