@import "../../variables.scss";

.sun-icon-svg {
    stroke: $body-color;

    @media (prefers-color-scheme: dark) {
        stroke: $body-color-dm;
    }

    .sun {
        stroke-width: 0;

        fill: $body-color;

        @media (prefers-color-scheme: dark) {
            fill: $body-color-dm;
        }
    }
}
